.streets {
    background: url('/webp/background-streets.webp') no-repeat left bottom;
    background-size: auto;
    height: 588px;
}

.streets__container {
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

.streets__content, .streets__description {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.streets__description {
    max-width: 530px;
}

.streets__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    font-stretch: semi-condensed;
}

@media (max-width: 890px) {
    .streets {
        height: 100%;
        background-position: left 29px;
        background-position-x: -100px;
    }

    .streets__container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .streets__content, .streets__description {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .streets__paragraph {
        font-size: 15px;
    }

}