.wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}


.label, .input::placeholder, .input{
    font-size: 20px;
    font-weight: 400;
    font-stretch: semi-condensed;
    line-height: 130%;
}

.input {
    display: flex;
    align-items: center;
    border: 2px solid var(--grey);
    padding: 0 15px;
    resize: vertical;
    min-height: 56px;

}

.input:focus {
    outline: none;
    border-radius: 0;
}

.input::placeholder {
    color: var(--placeholder);
}

.hint {
    font-size: 13px;
    font-weight: 400;
    font-stretch: semi-condensed;
    line-height: 130%;
}

.error .hint{
    color: var(--error);
}

.error .input {
    border-color: var(--error);
    color: var(--error);
}
