.program-info {
    background: url('/png/background-program.png') no-repeat right bottom / contain;
}


.program-info__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.program-info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program-info__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    margin-bottom: 129px;
}


.program-info__block {
    background-color: var(--blue);
    padding: 45px;
    max-width: 800px;
}

.program-info__subtitle {
    font-size: 32px;
    line-height: 130%;
    font-stretch: semi-condensed;
    font-weight: 400;
}

.program-info__text, .program-info__dates-label {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    font-stretch: semi-condensed;
}


.program-info__dates-range {
    font-family: var(--font-Benzin), sans-serif;
    font-weight: 500;
    font-size: 60.62px;
    line-height: 130%;
    text-transform: uppercase;
}

.program-info__dates {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 388px;
}

.program-info__block:first-child {
    max-width: 420px;
}


.program-info__button {
    display: none;
}

@media (max-width: 768px) {

    .program-info {
        background-position: right calc(100% - 80px);
    }

    .program-info__container {
        gap: 35px;
    }

    .program-info__content {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 50px;
    }

    .program-info__subtitle {
        font-size: 20px;
    }

    .program-info__text {
        font-size: 15px;
    }

    .program-info__dates-range {
        font-size: 50px;
    }


    .program-info__block {
        padding: 45px 30px;
    }

    .program-info__block:first-child {
        max-width: none;
    }

    .program-info__header .button {
        display: none;
    }

    .program-info__button {
        display: block;
        max-width: 100%;
    }

}