.videoContainer {
    position: relative;
    height: 632px;
    overflow: hidden;
}


@media (max-width: 1024px) {
    .videoContainer {
        height: 500px;
    }
    .videoContainer :global(.video) {
        width: 100vh;
    }

}

@media (max-width: 768px) {
    .videoContainer {
        height: 320px;
    }

    .videoContainer :global(.video) {
        width: 80vh;
    }

}


