.banner {
    position: relative;
    width: 100%;
    height: 824px;
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
}

.banner img {
    object-fit: cover;
}

.banner__inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 70px;
}

.banner__title {
    max-width: 771px;
    white-space: pre-wrap;
}

.banner__date {
    background-color: var(--blue);
    padding: 0 5px;
}

.banner__button {
    max-width: none;

}


@media (max-width: 768px) {
    .banner {
        height: 670px;
    }

    .banner__inner {
        gap: 36px;
        padding-bottom: 110px;
    }

    .banner .banner__title {
        font-size: 25px;
    }
}